*{
    margin: 0;
    padding: 0;
}
.conta{
  width: 25%;
  height:400px;
  margin-top: 20px;
  background-image: url("https://bestanimations.com/media/fireworks2/212323546ba-colorful-fireworks-animated-gif-pic.gif");
  background-attachment: fixed;
  margin:0 auto;

}
.card-body p:nth-child(2){
  font-size: 19px;
  font-weight: 600;
  color:rgb(8, 113, 218)
}
.card-body p:nth-child(3){
  font-size: 17px;
  font-weight: bold;

}

.card-header{
  font-size: 17px;
  font-weight: bold;
  color: lightgreen;

}
.card-body{
  text-align:centre;
}